// Main CSS File
$color-primary: #5e3b59;
$color-white: #fff;
$color-black: #000;

html {
  font-size: 62.5%;
}

body {
  padding: 2rem;
}

main {
  height: 100vh;
}

.header {
  padding: 3rem;
  height: 40vh;
  min-height: 30rem;
  background-color: $color-primary;
  color: $color-white;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  &__name {
    font-size: 3.2rem;
  }
  &__title {
    font-size: 2.2rem;
  }
  &__container {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);

    @media (max-width: 992px) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 85%;
      max-width: 100%;
    }
  }

  @media (max-width: 992px) {
    height: 30vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

// About
.about-section {
  max-width: 1140px;
  margin: 0 auto;
  &__title {
    text-align: center;
    font-size: 2.2rem;
  }
  &__content {
    font-size: 1.8rem;
  }
}

// Skills
.skills {
  &__list {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    &--item {
      display: inline-block;
    }
    &--item:not(:last-child) {
      margin-right: 3rem;
    }
  }
}
